<h1>Listing Albums</h1>
 
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>

<% @albums.each do |album| %>
  <tr>
    <td><%= album.name %></td>
    <td><%= link_to 'Show', album, :class => 'btn btn-primary' %>
    <%= link_to 'Destroy', album, :confirm => 'Are you sure?',
                                     :method => :delete, :class => 'btn btn-primary btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Album', new_album_path, :class => 'btn btn-primary' %>