  
  <h1><%= @album.name %></h1>


<table class="table table-striped">
  <tr>
    <th>Photos</th>
    <th>Tags</th>
    <th>Actions</th>
  </tr>
</br>
    <%@album.photos.each do |photo|%>
      <tr>
        <td>
          <%= image_tag photo.image(:thumb), class: "thumbnail", style: "width:160px;height:130px" %>
        </td>
        <td>
          <%photo.hashtags.each do |tag|%>
           <%=tag.name %>
          <%end%>
        </td>
        <td><%= link_to 'Delete', delete_image_album_path(photo, album_id: @album.id), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-primary btn-danger' %></td>
    <%end%>
    </tr>
</table>